@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}


<script>
    $(function () {
        $('.nav-link').filter(function () { return this.href == location.href })
            .addClass('active').siblings().removeClass('active')
        $('.nav-link').click(function () {
            $(this).parent().addClass('active').siblings().removeClass('active')
        })
    })
</script>


<h1 class="coverTitle">Log ind</h1>
<p class="lead">Log ind med en given email og password for at tilgå kalenderen</p>
<div>
    <hr />
</div>

<section>
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div asp-validation-summary="All" class="text-danger scallingFont"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger scallingFont"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger scallingFont"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Log ind</button>
        </div>
        <div class="form-group">
            <p>
                <a asp-action="ForgotPassword">Glemt password?</a>
            </p>

        </div>
    </form>
</section>
