/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff; }

fc-bgevent {
  background: #5bc0de;
  opacity: 4; }

.fc-highlight {
  color: aliceblue; }

.tooltip {
  opacity: 1 !important; }

.fc-today {
  background: rgba(255, 255, 255, 0.5) !important; }

.fc-day:hover {
  background: #577781; }

.current_entry {
  border-width: medium !important; }

/*Allow pointer-events through*/
.fc-slats,
.fc-content-skeleton,
.fc-bgevent-skeleton {
  pointer-events: none; }

/*Turn pointer events back on*/
.fc-bgevent,
.fc-event-container {
  pointer-events: auto;
  /*events*/ }

/*
 * Base structure
 */
html,
body {
  height: 100%;
  background-color: #333; }

a {
  text-decoration: none; }

a:hover {
  color: white;
  text-decoration: none;
  cursor: pointer; }

body {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 15% 15% 70%;
  grid-template-areas: "Title nav nav nav" ". . . ." ". Main Main .";
  grid-row-gap: 1rem;
  color: #fff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5); }

.cover-container {
  display: flex;
  flex-direction: column;
  grid-area: Main; }

.centered {
  align-self: center; }

.slightPadTop {
  padding-top: .5rem; }

.coverTitle {
  place-self: center; }

/*
 * Header
 */
.title {
  justify-self: end;
  align-self: center;
  grid-area: Title; }

.header {
  display: flex;
  flex-direction: column;
  grid-area: nav;
  justify-self: end;
  align-self: center;
  margin-right: 2rem; }

.testtest {
  display: flex inline;
  flex-direction: column;
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.testtest:hover,
.testtest:focus {
  border-bottom-color: #5cb85c; }

.nav-header .nav-link {
  flex-wrap: wrap;
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent; }

.form-inlinen {
  display: flex;
  flex-flow: row;
  justify-content: space-between; }

.column {
  display: flex inline;
  flex-flow: column; }

.topFlex {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2/4;
  margin-right: 1rem;
  margin-left: 1rem; }

.bottom-green {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  border-bottom-color: #5cb85c; }

.nav-header .nav-link:hover,
.nav-header .nav-link:focus {
  border-bottom-color: #5cb85c; }

.nav-header .nav-link + .form-inlinen {
  margin-left: 1.5rem; }

.nav-header .nav-link + .nav-link {
  margin-left: 1.5rem; }

.nav-header .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (max-width: 60em), (max-height: 20em) {
  .body {
    grid-row-gap: 1rem; }
  .title {
    display: none; }
  .cover-container {
    grid-column: 1/5;
    grid-row: 2/4;
    margin-right: 1rem;
    margin-left: 1rem; }
  .hiddenS {
    display: none; }
  .btn-link {
    padding-bottom: .25rem; }
  .nav-header .nav-link {
    padding: .15rem 0; }
  .header {
    grid-column: 1/5;
    margin-right: 0;
    place-self: center; }
  .form-inlinen {
    flex-direction: row;
    align-items: stretch; }
  .nav-header .nav-link + button {
    margin-left: 1.5rem; }
  .file-upload {
    max-width: 100% !important; }
  .file-upload-image {
    max-height: 15rem;
    max-width: 15rem !important; }
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 40px 0 !important; } }

.rowImg {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

/* Create four equal columns that sits next to each other */
.columnImg {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }

.columnImg img {
  margin-top: 8px;
  vertical-align: middle; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnImg {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnImg {
    flex: 100%;
    max-width: 100%; } }

.file-upload {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin: 0 auto;
  padding: 20px; }

.file-upload-btn {
  flex: 1;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700; }

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer; }

.file-upload-btn:disabled {
  background: gray;
  border-bottom-color: gray; }

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease; }

.file-upload-content {
  display: none;
  text-align: center; }

.file-upload-input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  opacity: 0;
  cursor: pointer; }

.image-upload-wrap {
  position: relative;
  margin-top: 1rem;
  border: 4px dashed #1FB264; }

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff; }

.image-title-wrap {
  max-width: 100%;
  padding: 0 15px 15px 15px;
  color: #222; }

.image-title {
  max-width: 100%; }

.drag-text {
  text-align: center; }

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0; }

.file-upload-image {
  max-height: 20%;
  max-width: 25%;
  margin: auto;
  padding: 20px; }

.remove-image {
  max-width: 100%;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700; }

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer; }

.remove-image:active {
  border: 0;
  transition: all .2s ease; }

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; }

.myImg:hover {
  opacity: 0.7; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */ }

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px; }

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px; }

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
  animation-name: zoom;
  animation-duration: 0.6s; }

@keyframes zoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s; }

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer; }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%; } }
