@using Sommerhuse.Views.Manage

<div class="column">
    <p class="@ManageNavPages.IndexNavClass(ViewContext) testtest"><a asp-action="Index">Profil</a></p>
    <p class="@ManageNavPages.ChangePasswordNavClass(ViewContext) testtest"><a asp-action="ChangePassword">Skift password</a></p>


</div>

